.answers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.answer-grid {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    width: 350px;
    height: 420px;
    gap: 5px;
    padding: 10px;
}

.answer-grid-row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
}

/* #121213 if there's a guess */
.answer-grid-tile {
    border: 2px solid #3a3a3c;
    width: 100%;
    color: var(--text);
    display: flex;
    text-transform: uppercase;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.answer-grid-tile.guess {
    background-color: var(--incorrect);
}

.answer-grid-tile.correct {
    background-color: var(--correct);
}

.answer-grid-tile.close-guess {
    background-color: var(--almost);
}