.answers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.answer-grid {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    width: 350px;
    height: 420px;
    gap: 5px;
    padding: 10px;
}

.answer-grid-row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
}

.answer-grid-tile {
    border: 2px solid #3a3a3c;
    width: 100%;
    color: var(--text);
}